* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
/********************navbar******************/

.navbar {
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.007);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.096);
}
.navbar-header {
  margin-top: 20px;
}
.notification_icon {
  height: 25px;
  position: absolute;
  left: 88%;
  top: 42px;
}

.popdown-nav_item {
  position: absolute;
  background: white;
  z-index: 200;
  right: 20px;
  top: 70px;
  width: 0;

  opacity: 0;
  visibility: hidden;
  /* padding: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.205);
    border-radius: 10px; */
}
.popdown-nav_item ul {
  list-style-type: none;
  text-align: center;
}
.popdown-nav_item ul li {
  margin-top: 30px;
}
.popdown-nav_item ul li a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}

.profile_icon {
  border-radius: 50%;
  width: 43px;
  height: 43px;
  position: absolute;
  left: 95%;
  top: 34px;
}

#micon {
  margin: 30px 180px 0 0;
}

#micon ul li:hover {
  border-bottom: 4px solid red;
}
.nav li a:hover {
  background-color: rgba(0, 0, 0, 0.007);
}
#micon a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

/***********************section********************/

.side_bar {
  background: rgb(223, 6, 6);
  z-index: 100;
  float: left;
  height: 100%;
  width: 170px;
  padding: 20px 10px 0 40px;
  position: absolute;
  top: 0;
}

.side_bar img {
  background-color: none;
  height: 70px;
  margin-top: 40px;
}
.sidebar_toggler .icon-bar {
  background-color: rgb(65, 65, 8);
  width: 30px;
  padding-top: 5px;
}
/* .icon-bar:hover {
    background-color: white;
  } */
.i1 :hover {
  color: yellow;
}
.sidebar_toggler button {
  margin-top: 0;
  /* transform: translateX(-370px);
    margin-top: -75px; */
  z-index: 200;
  position: absolute;
  top: 13px;
  left: 45px;
}
.sidebar_toggler .icon-bar :focus {
  transform: rotateX(60deg);
}
/***************************middle_area*****************************/

.middle_area {
  padding: 10px 20px 0 200px;
}
.date_field {
  border: none;
  outline: none;
}
.middle_area h1 {
  font-weight: 800;
}
.boxes {
  float: left;
}
.rs25 {
  box-sizing: border-box;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.205);
  width: 330px;
  height: 100px;
  border-radius: 30px;
  margin-top: 50px;
}
.rs25 img {
  height: 40px;
  position: absolute;
  margin: 30px 0 0 20px;
}
.rs25 h5,
.rs25 h6 {
  text-align: center;
  margin-left: 20px;
}
.rs25 h5 {
  font-size: 30px;
  padding-top: 3px;
}
.rs25 h6 {
  font-size: 17px;
  padding-top: 20px;
}
.rs25 .right {
  margin: -55px 0 0 290px;
  background: rgba(0, 0, 0, 0.123);
  width: 30px;
  height: 30px;
  padding: 5px 0 0 7px;
  border-radius: 50%;
}
.middle_box {
  height: 390px;
  background: none;
  width: 400px;
  margin: 50px 0 0 30px;
  padding: 10px 0;
  color: black;
}
.middle_box .upper_part span {
  margin-left: 3px;
  font-weight: normal;
  color: red;
}
.glyphicon {
  margin-top: 2px;
}
.upper_part {
  padding: 0 0 0 130px;
  font-size: 12px;
}

.right_box {
  width: 330px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.123);
  margin: 50px 0 0 30px;
  padding: 20px 20px 40px 20px;
}
.right_box .div {
  margin-top: 50px;
}
.right_box img {
  height: 40px;
}
.right_box h5 {
  margin-top: 20px;
}
.right_box h6,
.right_box h4 {
  margin-left: 60px;
}
.right_box h6 {
  margin-top: -30px;
}

/* graphpagegraphpage */
/* graphpagegraphpage */
.side_bar ul {
  list-style-type: none;
  margin-top: 30px;
  position: absolute;
  left: 2px;
}
.side_bar ul li {
  margin-top: 20px;
  text-align: center;
}
.side_bar ul li a {
  color: white;
  text-decoration: none;
}

/* bodypart */

.little_cards {
  float: left;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.178);
  width: 220px;
  margin-left: 30px;
  border-radius: 20px;
  text-align: left;
  padding: 5px;
  height: 100%;
}
.little_cards h5,
.little_cards h4 {
  text-align: center;
}
.little_cards h5 {
  margin-top: 0;
}
.little_cards h4 {
  font-size: 25px;
}
.graph {
  position: absolute;
  left: 240px;
  top: 230px;
  width: 700px;
}
.copyright {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-weight: 600;
}
/**********************responsive*************************/

@media screen and (max-width: 765px) {
  body {
    overflow-x: hidden;
  }
  /********************navbar******************/
  /********************navbarresponsive*******************/
  nav {
    width: 100%;
  }
  .navbar {
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.007);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.247);
  }
  /* .navbar-header {
      margin-top: 5px;
      transform: translateX(-84%);
    } */
  .notification_icon {
    height: 25px;
    position: absolute;
    left: 73%;
    top: 20px;
  }
  .popdown-nav_item {
    position: absolute;
    background: white;
    z-index: 200;
    right: 20px;
    top: 70px;
    width: 300px;
    padding: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.205);
    border-radius: 10px;
    opacity: 1;
    visibility: visible;
  }
  .popdown-nav_item ul {
    list-style-type: none;
    text-align: center;
  }
  .popdown-nav_item ul li {
    margin-top: 30px;
  }
  .popdown-nav_item ul li a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
  }

  .profile_icon {
    border-radius: 50%;
    width: 43px;
    height: 43px;
    position: absolute;
    left: 83%;
    top: 10px;
  }
  /* .icon-bar {
      background-color: red;
    } */
  #micon {
    margin: 0;
    background: none;
    width: 0;
    padding-left: 0;
    opacity: 0;
    visibility: hidden;
  }
  #micon li {
    margin-top: 20px;
  }

  #micon ul li:hover {
    border-bottom: none;
  }
  .nav li a:hover {
    background-color: none;
  }
  #micon a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
  }
  /***************************middle_area*****************************/
  /****************************middlearea_responsive***********************/

  .middle_area {
    padding: 0;
    width: 100%;
  }
  .date_field {
    border: none;
    outline: none;
    margin-left: 23px;
  }
  .middle_area h1 {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
  }
  .boxes {
    float: none;
  }
  .rs25 {
    box-sizing: border-box;
    box-shadow: none;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    margin-top: 50px;
  }
  .rs25 img {
    height: 40px;
    position: absolute;
    margin: 30px 0 0 30px;
  }
  .rs25 h5,
  .rs25 h6 {
    text-align: center;
    margin-left: 0;
  }
  .rs25 h5 {
    font-size: 20px;
    padding-top: 3px;
    text-align: center;
  }
  .rs25 h6 {
    font-size: 13px;
    padding-top: 20px;
  }

  .rs25 .right {
    margin: -55px 20px 0 0;
    background: rgba(0, 0, 0, 0.123);
    width: 30px;
    height: 30px;
    float: right;
    padding: 5px 0 0 7px;
    border-radius: 50%;
  }
  .middle_box {
    height: 390px;
    background: none;
    width: 100%;
    margin: 50px 0;
    padding: 10px;
    color: black;
  }
  .middle_box .upper_part span {
    margin-left: 3px;
    font-weight: normal;
    color: red;
  }
  .glyphicon {
    margin-top: 2px;
  }
  .upper_part {
    padding: 0 0 0 130px;
    font-size: 12px;
  }

  .right_box {
    width: 100%;
    box-shadow: none;
    margin: 0;
    padding: 10px 10px 10px 10px;
  }
  .right_box .div {
    margin-top: 50px;
    text-align: center;
  }
  .right_box img {
    height: 40px;
  }
  .right_box h5 {
    margin-top: 20px;
    text-align: center;
  }
  .right_box h6,
  .right_box h4 {
    margin-left: 0;
  }
  .right_box h6 {
    margin-top: 30px;
  }
  /* graphpagegraphpage */
  /* graphpagegraphpage */
  .side_bar ul {
    list-style-type: none;
    margin-top: 30px;
    position: absolute;
    left: 2px;
  }
  .side_bar ul li {
    margin-top: 20px;
    text-align: center;
  }
  .side_bar ul li a {
    color: white;
    text-decoration: none;
  }

  /* bodypart */

  .little_cards {
    float: none;
    box-sizing: border-box;
    box-shadow: none;
    width: 100%;
    margin-left: 0;
    border-radius: 20px;
    text-align: center;
    padding: 5px;
    height: 100%;
  }
  .little_cards h5,
  .little_cards h4 {
    text-align: center;
  }
  .little_cards h5 {
    margin-top: 0;
  }
  .little_cards h4 {
    font-size: 25px;
  }
  .graph {
    position: static;
    width: 100%;
  }
  .copyright {
    position: fixed;
    background: black;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 9px;
    z-index: 200;
    padding: 10px 5px 5px 5px;
    color: rgba(255, 255, 255, 0.603);
  }
}
@media (min-width: 765px) and (max-width: 970px) {
  /* graphpagegraphpage */
  /* graphpagegraphpage */

  /* bodypart */

  .little_cards {
    float: none;
    box-sizing: border-box;
    box-shadow: none;
    width: 100%;
    margin: 30px 0;
    border-radius: 0;
    text-align: center;
    padding: 5px;
    height: 100%;
    border-bottom: 3px solid rgba(0, 0, 0, 0.199);
  }
  .little_cards h5,
  .little_cards h4 {
    text-align: center;
  }
  .little_cards h5 {
    margin-top: 0;
  }
  .little_cards h4 {
    font-size: 25px;
  }
  .graph {
    position: static;
    width: 100%;
  }
  .copyright {
    visibility: hidden;
  }
}

@media (min-width: 970px) and (max-width: 1125px) {
  body {
    overflow-x: hidden;
  }
  /********************navbar******************/
  /************************navbarresponsive**************************/

  .navbar {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.007);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.096);
  }
  .navbar-header {
    margin-top: 20px;
  }
  .notification_icon {
    height: 25px;
    position: absolute;
    left: 86%;
    top: 42px;
  }

  .profile_icon {
    border-radius: 50%;
    width: 43px;
    height: 43px;
    position: absolute;
    left: 92%;
    top: 34px;
  }

  #micon {
    margin: 30px 180px 0 0;
  }

  /* .rs25 .right {
        margin: -55px 0 0 300px;
        background: rgba(0, 0, 0, 0.123);
        width: 30px;
        height: 30px;
        padding: 5px 0 0 7px;
        border-radius: 50%;
      } */
  .right_box {
    width: 100%;
    box-shadow: none;
    margin: 40px 0s;
    padding: 10px 10px 10px 10px;
  }
  .right_box .div {
    margin-top: 50px;
    text-align: center;
  }
  .right_box img {
    height: 40px;
  }
  .right_box h5 {
    margin-top: 20px;
    text-align: center;
  }
  .right_box h6,
  .right_box h4 {
    margin-left: 0;
  }
  .right_box h6 {
    margin-top: 30px;
  }
  .copyright {
    visibility: hidden;
  }
}
